<h1>Listagem de artigos</h1>

<mat-toolbar class="new-item">
  <a mat-raised-button color="accent" [routerLink]="['/artigo/novo']">
    <mat-icon>add_circle</mat-icon>
    Novo artigo
  </a>
</mat-toolbar>

<mat-accordion *ngFor="let artigo of artigos">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{artigo.titulo}}
      </mat-panel-title>
      <mat-panel-description>
        {{artigo.autor}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <img mat-card-image [src]="artigo.imagem">
    <div class="descricao">
      <p>{{ artigo.texto }}</p>
      <p class="fonte"><b>Fonte:</b> {{ artigo.fonte }}</p>
      <!-- <div *ngFor="let criatura of criaturas"> -->
        <div>{{ artigo.criaturaRef | json }}</div>
      <!-- </div> -->
        <!-- <div *ngIf="artigo.periodoRef!=''">{{ artigo.periodoRef }}</div>
        <div *ngIf="artigo.paleontologoRef!=''">{{ artigo.paleontologoRef }}</div> -->
    </div>
    <mat-action-row>
      <a mat-raised-button color="accent" title="Editar" [routerLink]="['/artigo', artigo._id]">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-raised-button color="warn" title="Excluir" (click)="excluir(artigo._id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>