mat-accordion {
  width: 625px;
  float: left;
  padding: 10px;
  margin-right: 50px;
  margin-bottom: 50px;
}

mat-action-row {
  margin-right: 5px;
}

.pesquisa {
    width: 500px;
    height: 50px;
    margin: auto;
}

img {
  border-radius: 8px;
  width: 525px;
  height: 350px;
  margin-left: 10px;
}

.descricao {
  font-size: 12pt;
  padding: 15px;

  .fonte {
    font-size: 8pt;
  }
}