mat-accordion {
    // max-height: 600px;
    width: 625px;
    float: left;
    padding: 10px;
    margin-right: 50px;
    margin-bottom: 50px;
}

img {
    border-radius: 8px;
    // max-width: 350px;
    width: 400px;
    height: 300px;
    margin-left: 12px;
    margin-top: 25px;
}