<h1>Listagem de criaturas</h1>

<mat-toolbar class="new-item">
  <a mat-raised-button color="accent" [routerLink]="['/criatura/novo']">
    <mat-icon>add_circle</mat-icon>
    Nova criatura
  </a>
</mat-toolbar>

<div class="pesquisa">
  <input class="form-control mr-sm-2" type="text" placeholder="Buscar" [(ngModel)]="searchText">
</div>

<mat-accordion *ngFor="let criatura of criaturas | filter:searchText">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{criatura.nome}}
      </mat-panel-title>
      <mat-panel-description>
        <p>{{criatura.nome_cientifico}}</p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <img mat-card-image [src]="criatura.imagem">
    <div class="descricao">
      <p><b>Dieta:</b> {{ criatura.dieta }}</p>
      <p><b>Altura:</b> {{ criatura.altura }} metros</p>
      <p><b>Comprimento:</b> {{ criatura.comprimento }} metros</p>
      <p><b>Peso:</b> {{ criatura.peso }} quilos</p>
      <p><b>Data de descoberta:</b> {{ criatura.data_descoberta | date:'dd/MM/yyyy':'UTC'}}</p>
      <p><b>Habitat:</b> {{ criatura.habitat }}</p>
      <p><b>Pais:</b> {{ criatura.pais }}</p>
	  <p><b>Descobridor:</b> <a [routerLink]="['/paleontologo']"> {{ criatura.descobridor?.nome }}</a></p>
      <div *ngIf="criatura.surgimento?.nome==criatura.extincao?.nome; else mostrar">
        <p><b>Viveu em:</b> <a [routerLink]="['/periodo']"> {{ criatura.surgimento?.nome }}</a></p>
      </div>
      <div *ngIf="criatura.surgimento?.nome==criatura.extincao?.nome; else mostrar1"></div>
      <p><ng-template #mostrar><b>Surgimento:</b> <a [routerLink]="['/periodo']"> {{ criatura.surgimento?.nome }} </a></ng-template></p>
      <p><ng-template #mostrar1>e<b> Extincao:</b> <a [routerLink]="['/periodo']"> {{ criatura.extincao?.nome }}</a></ng-template></p>
      <p>{{ criatura.descr }}</p>
    </div>
    <mat-action-row>
      <a mat-raised-button color="accent" title="Editar" [routerLink]="['/criatura', criatura._id]">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-raised-button color="warn" title="Excluir" (click)="excluir(criatura._id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>