<h1>Listagem de notícas</h1>

<mat-toolbar class="new-item">
  <a mat-raised-button color="accent" [routerLink]="['/noticia/novo']">
    <mat-icon>add_circle</mat-icon>
    Nova notícia
  </a>
</mat-toolbar>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let noticia of noticias">
      <mat-card class="example-card mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title><p>{{ noticia.manchete }}</p></mat-card-title>
        </mat-card-header>
        <div>
          <a class="urls" href="{{ noticia.url }}">Ver mais...</a>
          <img mat-card-image [src]="noticia.imagem">
        </div>
        <mat-card-actions align="end">
          <a mat-raised-button color="accent" title="Editar" [routerLink]="['/noticia', noticia._id]">
            <mat-icon>edit</mat-icon>
          </a>
          <button mat-raised-button color="warn" title="Excluir" (click)="excluir(noticia._id)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>