<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

  <!--mat-form-field appearance="fill"-->
  <mat-form-field>
    <mat-label>Nome do paleontólogo</mat-label>
    <input name="nome" [(ngModel)]="paleontologo.nome" matInput required
      placeholder="Informe o nome do paleontologo">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data de nascimento do paleontólogo</mat-label>
    <input matInput [matDatepicker]="data_nascimento" [(ngModel)]="paleontologo.data_nascimento" name="data_nascimento" required>
    <mat-datepicker-toggle matSuffix [for]="data_nascimento"></mat-datepicker-toggle>
    <mat-datepicker #data_nascimento></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data de falecimento do paleontólogo</mat-label>
    <input matInput [matDatepicker]="data_falecimento" [(ngModel)]="paleontologo.data_falecimento" name="data_falecimento" required>
    <mat-datepicker-toggle matSuffix [for]="data_falecimento"></mat-datepicker-toggle>
    <mat-datepicker #data_falecimento></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descrição do paleontólogo</mat-label>
    <textarea name="descr" [(ngModel)]="paleontologo.descr" matInput required
      placeholder="Descrição do paleontólogo"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Especializacão do paleontólogo</mat-label>
    <input name="especializacao" [(ngModel)]="paleontologo.especializacao" matInput required
      placeholder="Informe a especializacão do paleontólogo">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Imagem do paleontólogo</mat-label>
    <input name="imagem" [(ngModel)]="paleontologo.imagem" matInput required
      placeholder="Informe a imagem do paleontólogo">
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
