<h1>Listagem de paleontólogos</h1>

<mat-toolbar class="new-item">
  <a mat-raised-button color="accent" [routerLink]="['/paleontologo/novo']">
    <mat-icon>add_circle</mat-icon>
    Novo paleontólogo
  </a>
</mat-toolbar>

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let paleontologo of paleontologos">
      <mat-card class="example-card mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title><p>{{ paleontologo.nome }}</p></mat-card-title><p></p>
          <mat-card-subtitle>{{ paleontologo.data_nascimento }} a {{ paleontologo.data_falecimento }}</mat-card-subtitle>
          <mat-card-subtitle>{{ paleontologo.especializacao }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="paleontologo.imagem">
        <mat-card-content>
          <p>{{ paleontologo.descr }}</p>
        </mat-card-content>
        <mat-card-actions align="end">
          <a mat-raised-button color="accent" title="Editar" [routerLink]="['/paleontologo', paleontologo._id]">
            <mat-icon>edit</mat-icon>
          </a>
          <button mat-raised-button color="warn" title="Excluir" (click)="excluir(paleontologo._id)">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>