<h1>Listagem de paleontólogos</h1>

<mat-toolbar class="new-item">
  <a mat-raised-button color="accent" [routerLink]="['/paleontologo/novo']">
    <mat-icon>add_circle</mat-icon>
    Novo paleontólogo
  </a>
</mat-toolbar>

<div class="pesquisa">
  <input class="form-control mr-sm-2" type="text" placeholder="Buscar" [(ngModel)]="searchText">
</div>

<mat-accordion *ngFor="let paleontologo of paleontologos | filter:searchText">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{paleontologo.nome}}
      </mat-panel-title>
      <mat-panel-description>
        <p *ngIf="paleontologo.data_falecimento; else mostrar">{{paleontologo.data_nascimento | date:'dd/MM/yyyy':'UTC' }} a {{paleontologo.data_falecimento | date:'dd/MM/yyyy':'UTC' }}</p>
        <p><ng-template #mostrar>{{paleontologo.data_nascimento | date:'dd/MM/yyyy':'UTC' }}</ng-template></p>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <img mat-card-image [src]="paleontologo.imagem">
    <div class="descricao">
      <p><b>Especializações:</b> {{paleontologo.especializacao}}</p>
      <p>{{ paleontologo.descr }}</p>
    </div>
    <p><b>Criaturas descobertas por {{paleontologo.nome}}:</b></p>
      <div *ngFor="let criatura of criaturas">
        <div *ngIf="criatura.descobridor?.nome==paleontologo.nome"><a [routerLink]="['/criatura']"> {{criatura.nome}}</a></div>
    </div>
    <mat-action-row>
      <a mat-raised-button color="accent" title="Editar" [routerLink]="['/paleontologo', paleontologo._id]">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-raised-button color="warn" title="Excluir" (click)="excluir(paleontologo._id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>