<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

  <mat-form-field>
    <mat-label>Nome da criatura</mat-label>
    <input name="nome" [(ngModel)]="criatura.nome" matInput required
      placeholder="Informe o nome da criatura">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Nome científico da criatura</mat-label>
    <input name="nome_cientifico" [(ngModel)]="criatura.nome_cientifico" matInput required
      placeholder="Informe o nome científico da criatura">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Dieta</mat-label>
      <mat-select name="dieta" [(ngModel)]="criatura.dieta" required>
        <mat-option *ngFor="let dieta of dieta" [value]="dieta.val">
          {{ dieta.descr }}
        </mat-option>
      </mat-select>
  </mat-form-field> 

  <mat-form-field>
    <mat-label>Altura da criatura(metros)</mat-label>
    <input name="altura" [(ngModel)]="criatura.altura" matInput required
      placeholder="Informe a altura da criatura" type="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Comprimento da criatura(metros)</mat-label>
    <input name="comprimento" [(ngModel)]="criatura.comprimento" matInput required
      placeholder="Informe o comprimento da criatura" type="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Peso da criatura(quilos)</mat-label>
    <input name="peso" [(ngModel)]="criatura.peso" matInput required
      placeholder="Informe o peso da criatura" type="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descobridor da criatura</mat-label>
    <mat-select name="descobridor" [(ngModel)]="criatura.descobridor" required>
      <mat-option *ngFor="let paleontologo of paleontologos" [value]="paleontologo._id">
        {{ paleontologo.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Data de descoberta da criatura</mat-label>
    <input matInput [matDatepicker]="data_descoberta" [(ngModel)]="criatura.data_descoberta" name="data_descoberta" required>
    <mat-datepicker-toggle matSuffix [for]="data_descoberta"></mat-datepicker-toggle>
    <mat-datepicker #data_descoberta></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Habitat da criatura</mat-label>
    <input name="habitat" [(ngModel)]="criatura.habitat" matInput required
      placeholder="Informe o habitat da criatura">
  </mat-form-field>

  <mat-form-field>
    <mat-label>País da criatura</mat-label>
    <input name="pais" [(ngModel)]="criatura.pais" matInput required
      placeholder="Informe o país da criatura">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Imagem da criatura</mat-label>
    <input name="imagem" [(ngModel)]="criatura.imagem" matInput required
      placeholder="Informe a imagem da criatura">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Surgimento da criatura</mat-label>
    <mat-select name="surgimento" [(ngModel)]="criatura.surgimento" required>
      <mat-option *ngFor="let periodo of periodos" [value]="periodo._id">
        {{ periodo.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Extinção da criatura</mat-label>
    <mat-select name="extincao" [(ngModel)]="criatura.extincao" required>
      <mat-option *ngFor="let periodo of periodos" [value]="periodo._id">
        {{ periodo.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descrição da criatura</mat-label>
    <input name="descr" [(ngModel)]="criatura.descr" matInput required
      placeholder="Informe a descrição da criatura">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fonte da criatura</mat-label>
    <input name="fonte" [(ngModel)]="criatura.fonte" matInput required
      placeholder="Informe a fonte da criatura">
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>