<h1>Listagem dos períodos</h1>

<mat-toolbar class="new-item">
  <a mat-raised-button color="accent" [routerLink]="['/periodo/novo']">
    <mat-icon>add_circle</mat-icon>
    Novo periodo
  </a>
</mat-toolbar>

<mat-accordion *ngFor="let periodo of periodos">
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{periodo.nome}}
      </mat-panel-title>
      <mat-panel-description>
        {{periodo.data_inicio}} a {{periodo.data_fim}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <img mat-card-image [src]="periodo.imagem">
    <div class="descricao">
      <p>{{ periodo.descr }}</p>
    </div>
    <mat-action-row>
      <a mat-raised-button color="accent" title="Editar" [routerLink]="['/periodo', periodo._id]">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-raised-button color="warn" title="Excluir" (click)="excluir(periodo._id)">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>