<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

  <mat-form-field>
    <mat-label>Título do artigo</mat-label>
    <input name="titulo" [(ngModel)]="artigo.titulo" matInput required
      placeholder="Informe o título da artigo">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Imagem do artigo</mat-label>
    <input name="imagem" [(ngModel)]="artigo.imagem" matInput required
      placeholder="Informe a imagem do artigo">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Texto do artigo</mat-label>
    <input name="texto" [(ngModel)]="artigo.texto" matInput required
      placeholder="Informe o texto do artigo">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Autor do artigo</mat-label>
    <input name="autor" [(ngModel)]="artigo.autor" matInput required
      placeholder="Informe o autor do artigo">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Criaturas vinculado ao artigo</mat-label>
    <mat-select name="criaturaRef" [(ngModel)]="artigo.criaturaRef">
      <mat-option *ngFor="let criatura of criaturas" [value]="criatura._id">
        {{ criatura.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Períodos vinculado ao artigo</mat-label>
    <mat-select name="periodoRef" [(ngModel)]="artigo.periodoRef">
      <mat-option *ngFor="let periodo of periodos" [value]="periodo._id">
        {{ periodo.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Paleontológos vinculado ao artigo</mat-label>
    <mat-select name="paleontologoRef" [(ngModel)]="artigo.paleontologoRef">
      <mat-option *ngFor="let paleontologo of paleontologos" [value]="paleontologo._id">
        {{ paleontologo.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Fonte do artigo</mat-label>
    <input name="fonte" [(ngModel)]="artigo.fonte" matInput required
      placeholder="Informe a fonte do artigo">
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
