<h1>{{ title }}</h1>

<form class="std-form" #f="ngForm" (ngSubmit)="salvar(f)">

  <mat-form-field>
    <mat-label>Nome</mat-label>
    <mat-select name="nome" [(ngModel)]="periodo.nome" required>
      <mat-option *ngFor="let nome of nomes" [value]="nome.valor">
        {{ nome.descr }}
      </mat-option>
    </mat-select>
  </mat-form-field>  

  <mat-form-field>
    <mat-label>Data de início do período</mat-label>
    <input name="data_inicio" [(ngModel)]="periodo.data_inicio" matInput required
      placeholder="Informe a data de ínicio do período">
  </mat-form-field>

    <mat-form-field>
    <mat-label>Data do fim do período</mat-label>
    <input name="data_fim" [(ngModel)]="periodo.data_fim" matInput required
      placeholder="Informe a data do fim do período">
  </mat-form-field>

    <mat-form-field>
    <mat-label>Imagem do período</mat-label>
    <input name="imagem" [(ngModel)]="periodo.imagem" matInput required
      placeholder="Informe a imagem do período">
  </mat-form-field>

    <mat-form-field>
    <mat-label>Descrição do período</mat-label>
    <textarea name="descr" [(ngModel)]="periodo.descr" matInput required
      placeholder="Descrição do período"></textarea>
  </mat-form-field>

  <mat-toolbar class="form-buttons">
    <mat-toolbar-row>
      <button mat-raised-button type="submit" color="accent">
        Salvar
      </button>
      <button mat-raised-button type="button" (click)="voltar(f)">
        Voltar
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>